
Client/ImageSearch.VC.VC.opendb
Client/ImageSearch.VC.db
Client/.vs/ImageSearch/v14/.suo
Client/ImageSearch.vcxproj.user
*.log
*.user
*.db
Client1.1/.vs/ImageSearcher/v14/.suo
*.opendb
*.class
*.tlog
*.obj
*.pdb
Server1.1/IndexPath/CEDD/_2.cfe
*.cfs
*.si
Server1.1/IndexPath/CEDD/segments_a
Server1.1/IndexPath/CEDD/write.lock
*.lock
Server1.1/IndexPath/RotationInvariantLocalBinaryPatterns/segments_1
*.cfe
*.fdt
*.fdx
Server1.1/IndexPath/AutoColorCorrelogram/segments_2
Server1.1/IndexPath/BinaryPatternsPyramid/segments_1
Server1.1/IndexPath/CEDD/segments_c
Server1.1/IndexPath/ColorLayout/segments_1
Server1.1/IndexPath/EdgeHistogram/segments_1
Server1.1/IndexPath/FCTH/segments_1
Server1.1/IndexPath/FuzzyColorHistogram/segments_1
Server1.1/IndexPath/Gabor/segments_1
Server1.1/IndexPath/JCD/segments_1
Server1.1/IndexPath/JpegCoefficientHistogram/segments_1
Server1.1/IndexPath/LocalBinaryPatterns/segments_1
Server1.1/IndexPath/LuminanceLayout/segments_1
Server1.1/IndexPath/OpponentHistogram/segments_1
Server1.1/IndexPath/PHOG/segments_1
Server1.1/IndexPath/ScalableColor/segments_1
Server1.1/IndexPath/SimpleColorHistogram/segments_1
Server1.1/IndexPath/Tamura/segments_1
